*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
}


/* Navbar and Footer Css */
.dropdown-menu{
    border: 0;
    border-radius: 0;
   
    padding-bottom: 0;
}
.dropdown-item:hover{
    background-color: #bb1d2c;
    color: white;
}
.menu-ft-size li a{

    font-weight: 700;
}

.nav-link:hover{
    color: #bb1d2c !important;
    }


    
.footer-bg{
    background-color:#0a0d14 ;
    
}

.footerMenu-ft-color{
color: lightgrey;

}

/* Home Page Section One  */

.bodyBg-color{
    background-color: #0A0A0A;
}
.sub-heading-color{
    color:#949cb0 ;
}

/* .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;

}
.nav-link:hover::before {
    width: 100%;
    visibility: visible;
} */